<div class="container-div page-body">
  <div>
    <div class="col-xs-12" align="center">
      <h3><u>Sales Rep Tracking</u></h3>
    </div>
  </div>
  <div class="col-xs-12 mt20 col-xs-offset-2">
    <%= search_form_for(@q, url: "/admin/salesman_tracking", id: 'salesman_search_form') do |f| %>
      <div class="col-xs-2  ">
        <%=f.select :user_id_eq, salesperson_for_select, {include_blank: 'Select a Sales Rep'},class: 'form-control feedr-main-select', 'data-behavior' => "chosen-select" %>
      </div>
      <div class="col-xs-2  ">
        <%=f.select :customer_id_eq, companies_for_select, {include_blank: 'Select Company'},class: 'form-control feedr-main-select', 'data-behavior' => "chosen-select" %>
      </div>
      <a id="customer_submit" class="btn btn-default submit btn-green">
        <i class="fa fa-search" aria-hidden="true"></i></a>
    <% end %>
  </div>
  <div class="col-xs-10 col-xs-offset-1 mt20">
    <table class="table table-bordered table-striped feedr-main-tabl" >
      <thead>
      <tr>
        <th class="col-xs-1">Id</th>
        <th class="col-xs-1">Sales Rep</th>
        <th class="col-xs-2">Company</th>
        <th class="col-xs-2">Comment</th>
        <th class="col-xs-1">Date</th>
      </tr>
      </thead>
      <tbody>
      <% @records.each do |record| %>
        <tr>
          <td><%= record.id%></td>
          <td><%= record.user.try(:name)%></td>
          <td><%= record.customer.try(:company)%></td>
          <td><%= record.comment%></td>
          <td><%= record.created_at.strftime("%d-%m-%Y %H:%M:%S") %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
    <div class="page_links ppl">
      <%= will_paginate @records%>
    </div>
  </div>
</div>
<script>
    ChosenApplier.init($('select[data-behavior=chosen-select]'));
    $('#customer_submit').on('click', function() {
        $('#salesman_search_form').submit();
    });
</script>