<div class="col-xs-5">
  <div class= "Sign_Form page-body col-xs-offset-8">
    <div class="logo-container" id="home-button">
          <span class="logo">
              <a href="/admin"><img src = "/assets/login.png" class = "ems-login"></a>
          </span>
      <span class="nav-heading"> <a href="/admin"> </a> </span>
    </div>
    <h1 align="center">Login</h1>
    <%= form_tag(:action => 'login_attempt') do %>
      <h4>Username:</br> <%= text_field_tag :username_or_email, nil, class: "form-control feedr-main-input mt10 input-lg" %></h4>
      <h4 class="mt10">Password:</br> <%= password_field_tag :login_password, nil, class: "form-control feedr-main-input input-lg" %></h4>
      <%= submit_tag "Log In", class:"mt10 form-control btn btn-info btn-lg", style: "height: 50px;" %>
    <% end %>
  </div>
</div>