<div class="container col-md-8 page-body">
  <div class="row">
    <h4 class="col-md-8" align="center">
      Send Notification
    </h4>
  </div>
  <div class="row">
    <div class="panel panel-default">
      <div class="panel-body">
        <%= form_for(:data, :url => {:controller => 'notification', :action => 'send_portal_notification'}, :enctype =>"multipart/form-data") do |f| %>
          <div class="row mrs mls new_form">
            <div class="form-group col-md-6">
              <%= f.label :title, 'Title' %>
              <%= f.text_field :title, class: 'form-control input feedr-main-input', required: true %>
            </div>

            <div class="form-group col-md-6">
              <%= f.label :body, 'Sub-Title' %>
              <%= f.text_field :body, class: 'form-control input feedr-main-input', required: true  %>
            </div>

            <div class="form-group col-md-6">
              <%= f.label :to, 'TO' %>
              <%= f.select :to, ["Customer", "Section"], {include_blank: 'To all Customers'}, class: 'form-control feedr-main-select', 'data-behavior' => "chosen-select", :id => "to" %>
            </div>

            <div class="form-group col-md-6" id="phone">
              <%= f.label :phone, 'Customer' %>
              <%=f.select :phone, customers_for_select, {include_blank: 'Select Company'}, class: 'form-control feedr-main-select', 'data-behavior' => "chosen-select", :id => "phone_input" %>
            </div>

            <div class="section form-group col-md-6" id="section">
              <%= f.label :section, 'Sections' %>
              <%= f.select :section, ProductSection.active.pluck(:name), {include_blank: 'Select Product Section'}, class: 'form-control feedr-main-select', 'data-behavior' => "chosen-select", :id => "section_input" %>
            </div>

            <div class="form-group col-md-6">
              <%= f.label :file, 'Image Upload' %>
              <%= f.file_field :file, class: 'product_image' %>
            </div>

          </div>
          <div class="row">
            <div class="col-md-12" align="center">
              <%= f.submit "Send", class: 'btn btn-green' %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<%= javascript_include_tag 'users/form' %>
<script>
    $( document ).ready(function() {
        $("#phone").hide();
        $("#section").hide();
    });
    $("#to").on('change', function() {
        if($("#to").val()=="Customer"){
            $("#phone").show();
            $("#section").hide();
            $("#section_input").val("Select Product Section");
        }
        else if($("#to").val()=="Section"){
            $("#section").show();
            $("#phone").hide();
            $("#phone_input").val("Select Company");

        }
        else{
            $("#phone").hide();
            $("#section").hide();
            $("#section_input").val("Select Product Section");
            $("#phone_input").val("Select Company");
        }
    });
</script>