
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Add Stock<button type="button" class="close" data-dismiss="modal">&times;</button></h4>

      </div>
      <div class="modal-body">

        <%= form_for @product, url: admin_product_stock_path do |f| %>

          <div class="form-group">
            <h4><%= f.label 'Product Name: ' %>
            <%= f.label @product.name  %></h4>
          </div>

          <div class="form-group">
            <h4><%= f.label 'Stock quantity: ' %></h4>
            <%= f.text_field :stock_quantity, value: nil, :class => 'form-control' %>
          </div>


        <%= f.submit "Add", class: 'btn btn-blue' %>
        <% end %>

      </div>
      <div class="modal-footer">

        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
