<div class="container-div page-body">
  <div>
    <div class="col-xs-12" align="center">
      <u><h2>Products</h2></u>
    </div>
    <div class="col-xs-12" style="padding-left: 30px">
      <div class="btn btn-white" style="font-size: 16px;">
        <%= link_to "Export as Excel", download_excel_admin_product_stock_index_path(format: "xlsx") %>
      </div>
    </div>
    <div class="col-xs-12 col-xs-offset-1" style="padding-left: 30px">
      <%= search_form_for(@q,url: "/admin/product_stock", id: 'product_stock_search_form') do |f| %>
        <div class="col-xs-3 pt20">
          <%= f.text_field :name_cont, class: 'form-control input feedr-main-input', :placeholder => "Product"%>
        </div>
        <div class="col-md-2 mt20  ">
          <%=f.text_field :article_number_eq, class: 'form-control feedr-main-input', placeholder: 'Article Number' %>
        </div>
        <div class="col-xs-2 pt20" align="right">
          <%=f.submit 'Search', class: 'form-control btn btn-blue'%>
        </div>
      <%end%>
    </div>
  </div>

  <div class="col-md-12 top-margin-3">
    <table class="table table-bordered feedr-main-tabl"  style="table-layout: fixed; width: 125%" >
      <thead>
      <tr>
        <th class="col-xs-2">Article Number</th>
        <th class="col-xs-3">Product</th>
        <th class="col-xs-2">Stock</th>
        <th class="col-xs-2">Last Updated at</th>
        <th class="col-xs-2">Action</th>
      </tr>
      </thead>
      <tbody>
      <% @products.each do |product| %>
      <% if product.stock_quantity <= 0 %>
        <tr bgcolor="#f7c6b3">
        <% else %>
        <tr bgcolor="white">
        <% end %>
          <td><%= product.article_number%></td>
          <td><%= product.name %></td>
          <td> <%= product.stock_quantity %></td>
          <td><%= "#{product.updated_at.strftime("%d-%m-%Y %H:%M:%S")}" %></td>
          <td>
            <div class="btn btn-default">
              <%= link_to controller: "product_stock", action: "edit", id:product.id, remote:true do %>
                Add Stock
              <% end %>
            </div>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
    <div class="page_links ppl">
      <%= will_paginate @products%>
    </div>
  </div>
</div>

<script>
    $('#document').change(function(){
        $('#upload_form').submit()
    });
</script>
