<% if true %>
  <div id="nav-container" class="hide">
    <nav id="nav" class="navbar navbar-inverse sidebar expanded" role="navigation">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-sidebar-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div class="logo-container" id="home-button">
          <span class="logo">
              <a href="/admin"><img src = "/assets/logo.png" class = "ems-icon"></a>
          </span>
            <span class="nav-heading"> <a href="/admin"> </a> </span>
          </div>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-body">
            <%
              headers = [
                  {
                      text: "Customers",
                      icon: "profile-icon",
                      dropdown: true,
                      permission: "can_view_customers",
                      options: [
                          {
                              text: "All Customers",
                              path: "/admin/customers"
                          },
                          {
                              text: "Debtors",
                              path: "/admin/debtors"
                          },
                          {
                              text: "Coupons",
                              path: "/admin/coupons"
                          }
                      ]

                  },
                  {
                      text: "Admin",
                      icon: "admin-icon",
                      dropdown: true,
                      permission: "can_view_admin_users",
                      options: [

                          {
                              text: "Sales Reps",
                              path: "/admin/users"
                          },
                          {
                              text: "Sales Reps Tracking",
                              path: "/admin/salesman_tracking"
                          },
                          {
                              text: "Roles",
                              path: "/admin/roles"
                          },
                          {
                              text: "Permissions",
                              path: "/admin/permissions"
                          }
                    ]
                  },

                  {
                      text: "Products",
                      icon: "catalogue-icon",
                      dropdown: true,
                      permission: "can_view_products",
                      options: [
                          {
                              text: "Divisions",
                              path: "/admin/product_divisions",
                              permission: "can_view_divisions",
                          },
                          {
                              text: "Sections",
                              path: "/admin/product_sections",
                              permission: "can_view_sections",
                          },
                          {
                              text: "Departments",
                              path: "/admin/product_departments",
                              permission: "can_view_departments",
                          },
                          {
                              text: "Products",
                              path: "/admin/products",
                              permission: "can_manage_products",
                          },
                          {
                              text: "Product Stock",
                              path: "/admin/product_stock",
                              permission: "can_view_product_stock",
                          },
                          {
                              text: "Offers",
                              path: "/admin/product_offers",
                              permission: "can_view_offers",
                          },
                          {
                              text: "Schemes",
                              path: "/admin/schemes",
                          }
                      ]
                  },
                  {
                      text: "Orders",
                      icon: "sales-icon",
                      path: "/admin/orders",
                      permission: "can_view_orders",

                  },
                  {
                      text: "Send Notification",
                      icon: "content-icon",
                      path: "/admin/notification"

                  },
                  {
                      text: "Reports",
                      icon: "reports-icon",
                      dropdown: true,
                      options: [
                          {
                              path: "/admin/reports/item_reports",
                              text: "Product Reports"
                          },
                          {
                              path: "/admin/reports/salesperson_reports",
                              text: "Sales Rep Reports"
                          },
                          {
                              path: "/admin/reports/customer_reports",
                              text: "Customer Reports"
                          }
                      ]


                  },
                  {
                      text: "Logout",
                      icon: "logout-icon",
                      path: "/admin/sessions/logout"
                  }
              ]
            %>
            <% end %>
<% if @current_user.present?%>
  <% headers.each do |header| %>
    <li>
      <% if header[:dropdown] %>
        <% if !@current_user.present?  || header[:permission].blank? || ( @current_user.method(
            header[:permission].last == "?" ? header[:permission] : "#{header[:permission]}?").call )
        %>
          <div class="nav-option pointer nav-option-dropdown dit">
            <div class="nav-icon">
              <span class="<%= header[:icon] %>"></span>
            </div>
            <div class="nav-content dropdown-toggle" data-toggle="dropdown"> <%= header[:text] %> </div>
            <ul class="dropdown-menu forAnimate" role="menu">
              <% header[:options].each do |option| %>
                <%if option[:style]%>
                  <li>
                    <span class="bold-header-text"><%= option[:text] %></span>
                  </li>
                <%else%>
                  <% if !@current_user.present?  || option[:permission].blank? || ( @current_user.method(
                      option[:permission].last == "?" ? option[:permission] : "#{option[:permission]}?").call )
                  %>
                    <li class="nav-dropdown-option">
                      <a class="nav-dropdown-text <%="bold-header-text" if option[:style]%>" href="<%= option[:path] %>"><%= option[:text] %></a>
                    </li>
                  <% end %>
                <%end%>
              <% end %>
            </ul>
          </div>
        <% end %>
      <% else %>
        <% if header[:permission].blank? || ( @current_user.method(
            header[:permission].last == "?" ? header[:permission] : "#{header[:permission]}?").call )
        %>
          <div class="nav-option pointer nav-option-text">
            <div class="nav-icon">
              <a href="<%= header[:path]%>"><span class="<%= header[:icon] %>"></span></a>
            </div>
            <div class="nav-content" >
              <a href="<%= header[:path]%>"><%= header[:text] %></a>
            </div>
            <div class="nav-tooltip">
              <span><%= header[:text] %></span>
            </div>
          </div>
        <% end %>
      <% end %>
    </li>
  <% end %>
  </ul>
<% end %>
<ul class="nav navbar-nav navbar-toggle-body">
  <li>
    <div>
      <span class="logo">
        <span class="dev"> Developed by </span>
            <a href="http://theninequeens.com/" target="blank"><img src = "/assets/tnq.png" class = "tnq"></a>
          </span>
    </div>
  </li>
</ul>
</div>
</div>
</nav>
</div>
