<div class="form-group col-md-6">
  <%= f.label :name, 'Name' %>
  <%= f.text_field :name, class: 'form-control input feedr-main-input', required: true %>

</div>

<div class="form-group col-md-6">
  <%= f.label :phone_number, 'Phone Number' %>
  <%= f.text_field :phone_number, class: 'form-control input feedr-main-input', required: true, :maxlength => 10  %>
</div>

<div class="form-group col-md-6">
  <%= f.label :address, 'Address' %>
  <%= f.text_field :address, class: 'form-control input feedr-main-input', required: true  %>
</div>

<div class="form-group col-md-6">
  <%= f.label :company, 'Company' %>
  <%= f.text_field :company, class: 'form-control input feedr-main-input', required: true  %>
</div>

<div class="form-group col-md-6">
  <%= f.label :gstin, 'GSTIN' %>
  <%= f.text_field :gstin, class: 'form-control input feedr-main-input', :maxlength => 15  %>
</div>

<div class="form-group col-md-6">
  <%= f.label :account_number, 'Account Number' %>
  <%= f.text_field :account_number, class: 'form-control input feedr-main-input', required: true  %>
</div>

<div class="form-group col-md-6">
  <%= f.label :ifsc, 'IFSC Code' %>
  <%= f.text_field :ifsc, class: 'form-control input feedr-main-input', required: true  %>
</div>

<div class="form-group col-md-6">
  <%= f.label :email, 'Email' %>
  <%= f.text_field :email, class: 'form-control input feedr-main-input' %>
</div>

<div class="form-group col-md-6">
  <%= f.label :status, 'Status' %>
  <%= f.select :status, ['active', 'inactive'], {},
               { class: 'feedr-main-select form-control ','data-behavior' => "chosen-select"} %>
</div>

<div class="form-group col-md-6">
  <%= f.label :customer_type, 'User Type' %>
  <%= f.select :customer_type, ['B2B', 'B2C'], {},
               { class: 'feedr-main-select form-control ','data-behavior' => "chosen-select"} %>
</div>

<%= javascript_include_tag 'users/form' %>