<div class="container-div page-body">
  <div>
    <div class="col-xs-12" align="center">
      <h3>Customers</h3>
    </div>
    <div class="col-xs-12 no-left-pad">
      <div class="col-md-2">
        <h3>
          <%= link_to new_admin_customer_path, class: "btn btn-green" do %>
            </span> Add customer
          <% end %>
        </h3>
      </div>
    </div>

    <div class="col-xs-9 mt20">
      <%= form_tag import_admin_customers_path, multipart: true do %>
        <div class="col-xs-3">
          <%= file_field_tag :file, class: 'form-control feedr-main-input', style: "font-size: 16px;", :required => true %>
        </div>
        <div class="col-xs-2" style="font-size: 16px;">
          <%= submit_tag "Import from Excel", class: 'btn btn-white', style: "font-size: 16px;" %>
        </div>
      <% end %>
      <div class="col-xs-1"></div>
      <div class="col-xs-3 btn btn-white" style="font-size: 16px;">
        <%= link_to "Export as Excel", download_excel_admin_customers_path(format: "xlsx") %>
      </div>
    </div>
    <div class="col-xs-12 mt20">
      <%= search_form_for(@q,url: admin_customers_path, id: 'customer_search_form') do |f| %>
        <div class="col-xs-2  ">
          <%=f.text_field :name_cont, class: 'form-control feedr-main-input', placeholder: 'Name'%>
        </div>
        <div class="col-xs-2  ">
          <%=f.text_field :phone_number_cont, class: 'form-control feedr-main-input', placeholder: 'Phone'%>
        </div>
        <div class="col-xs-2  ">
          <%=f.text_field :gstin_cont, class: 'form-control feedr-main-input', placeholder: 'GSTIN'%>
        </div>
        <div class="col-xs-2">
          <%= f.select :verification_eq, [true, false], {include_blank: "--Verified?--"},
                       { class: 'feedr-main-select form-control ','data-behavior' => "chosen-select"}%>
        </div>
        <a id="customer_submit" class="btn btn-default submit btn-green">
          <i class="fa fa-search" aria-hidden="true"></i></a>
      <%end%>
    </div>
  </div>

  <div class="col-xs-12 mt20">
    <table class="table table-bordered feedr-main-tabl" >
      <thead>
      <tr>
        <th class="col-xs-1">Id</th>
        <th class="col-xs-1">Name</th>
        <th class="col-xs-1">Username</th>
        <th class="col-xs-1">Phone Number</th>
        <th class="col-xs-2">Address</th>
        <th class="col-xs-1">Company</th>
        <th class="col-xs-1">GSTIN</th>
        <th class="col-xs-1">Account Number</th>
        <th class="col-xs-1">IFSC</th>
        <th class="col-xs-1">Status</th>
        <th class="col-xs-2">Action</th>
      </tr>
      </thead>
      <tbody>
      <% @customers.each do |customer| %>
        <% if !customer.verification %>
          <tr bgcolor="#f7c6b3">
        <% else %>
          <tr bgcolor="#b3f7b3">
        <% end %>
          <td><%= customer.id%></td>
          <td><%= customer.name%></td>
          <td><%= customer.username%></td>
          <td><%= customer.phone_number%></td>
          <td><%= customer.address%></td>
          <td><%= customer.company%></td>
          <td><%= customer.gstin%></td>
          <td><%= customer.account_number%></td>
          <td><%= customer.ifsc%></td>
          <td><%= customer.status%></td>
        <td>
            <%= link_to edit_admin_customer_path(customer), class: "btn btn-sm btn-blue" do %>
              Edit
            <% end %>
        <% if customer.verification == false %>
              <%= link_to 'Verify', verify_admin_customers_path(id: customer), method: :put, data: { confirm: 'This Customer will be verified. Proceed?' }, class: "btn btn-sm btn-blue" %>
        <% end %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
    <div class="page_links ppl">
      <%= will_paginate @customers%>
    </div>
  </div>
</div>

<script>
    ChosenApplier.init($('select[data-behavior=chosen-select]'));
    $('#customer_submit').on('click', function() {
        $('#customer_search_form').submit();
    });
</script>