
<div class="modal fade page-body" id="GenerateCouponsModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <div class="modal-title text-head" align="center">Tracking Details</div>
      </div>
        <%= form_for @tracking, url: tracking_admin_orders_path, method: "put" do |f| %>
        <div class="col-xs-12 modal-body">

            <div class="col-xs-6">
              <%= label_tag :tracking_id, 'Order Tracking Id:'%>

              <%= f.text_field :tracking_id, class: 'form-control input feedr-main-input' %>
            </div>
            <div class="col-xs-6 hide">
              <%= f.text_field :order_id, value: @tracking.order_id, class: 'form-control input feedr-main-input' %>
            </div>
            <div class="col-xs-6">
              <%= label_tag :transport_name, 'Transport Name:'%>
              <%= f.text_field :transport_name, class: 'form-control input feedr-main-input' %>
            </div>
            <div class="col-xs-6">
              <%= label_tag :no_of_pkg, 'Number of Package:'%>
              <%= f.text_field :no_of_pkg, class: 'form-control input feedr-main-input' %>
            </div>
            <div class="col-xs-6">
              <%= label_tag :weight, 'Weight:'%>
              <%= f.text_field :weight, class: 'form-control input feedr-main-input' %>
            </div>
            <div class="col-xs-6">
              <%= label_tag :freight, 'Freight:'%>
              <%= f.text_field :freight, class: 'form-control input feedr-main-input' %>
            </div>
            <div class="col-xs-6">
              <%= label_tag :tracking_url, 'Tracking Url:'%>
              <%= f.text_field :tracking_url, class: 'form-control input feedr-main-input' %>
            </div>
        </div>
        <div class="modal-footer mt20">
          <%= f.submit "Update", class: 'btn btn-green' %>
        </div>
        <% end %>
    </div>
  </div>
</div>
