<div class="container-div page-body">
  <div>
    <div class="col-xs-12" align="center">
      <h3>Orders</h3>
    </div>
    <div class="col-xs-12" style="padding-left: 30px">
      <div class="btn btn-white" style="font-size: 16px;">
        <%= link_to "Export as Excel", download_excel_admin_orders_path(format: "xlsx") %>
      </div>
    </div>
    <div class="col-xs-12 mt20">
      <%= search_form_for(@q,url: admin_orders_path, id: 'order_search_form') do |f| %>
        <div class="col-xs-2  ">
          <%=f.text_field :phone_cont, class: 'form-control feedr-main-input', placeholder: 'Phone'%>
        </div>
        <div class="col-xs-2">
        <%= f.select :customer_id_eq, options_from_collection_for_select(Customer.active, :id, :company), {include_blank: "--Select Company--"},
                     { class: 'feedr-main-select form-control ','data-behavior' => "chosen-select"}%>
        </div>
        <div class="col-xs-2">
          <%= f.select :order_status_eq, Order.order_statuses.map { |key, value| [key.humanize, value] }, {include_blank: "--Select a Status--"},
                       { class: 'feedr-main-select form-control ','data-behavior' => "chosen-select", required: true}%>
        </div>
        <a id="order_submit" class="btn btn-default submit btn-green">
          <i class="fa fa-search" aria-hidden="true"></i></a>
      <%end%>
    </div>
  </div>
  <div class="col-xs-12 mt20">
    <table class="table table-bordered table-striped table-hover table-data table-overview display" >
      <thead>
      <tr>
        <th class="col-xs-1">Id</th>
        <th class="col-xs-1">Sales Person</th>
        <th class="col-xs-1">Customer</th>
        <th class="col-xs-1">Phone</th>
        <th class="col-xs-2">Address</th>
        <th class="col-xs-1">Order Status</th>
        <th class="col-xs-2">Order Summary</th>
        <th class="col-xs-1">Order Date</th>
        <th class="col-xs-1">Updated At</th>
        <th class="col-xs-1">Action</th>
      </tr>
      </thead>
      <tbody>
      <% @orders.each do |order| %>
          <tr>
            <td><%= order.id%></td>
            <td><%= order.user.try(:name)%></td>
            <td><%= order.customer.try(:name)%></td>
            <td><%= order.phone%></td>
            <td><%= order.customer_address%></td>
            <td><%= order.order_status%></td>
            <td><%= order.order_products.sum(:quantity) %> units | <b>&#8377;</b>
              <% if order.coupon.present? %>
                <% if order.coupon.coupon_type == "fixed_value" %>
                  <%= order.order_amount - order.coupon.amount %>
                <% else %>
                  <%= order.order_amount - ((order.coupon.amount*order.order_amount)/100) %>
                <% end %>
              <% else %>
                <%= order.order_amount %>
              <% end %>
                </td>
                <td><%= order.created_at.strftime("%d-%m-%Y  -  %H:%M") %></td>
                <td><%= order.updated_at.strftime("%d-%m-%Y  -  %H:%M") %></td>
            <td>
              <%= link_to admin_order_path(order), class: "btn btn-sm btn-blue" do %>
                View
              <% end %>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>
    <div class="page_links ppl">
      <%= will_paginate @orders%>
    </div>
  </div>
</div>

<script>
    ChosenApplier.init($('select[data-behavior=chosen-select]'));
    $('#order_submit').on('click', function() {
        $('#order_search_form').submit();
    });
</script>