<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">

<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<%#= wicked_pdf_stylesheet_link_tag 'issues' %>
</head>

<style>
  .pdf-container {
    font-size: 15px;
  }
  .tnq{
    color: #71bcff;
    font-weight: bold;
  }
  .issue{
    color: #71bcff;
    font-size: 40px;
    font-weight: bold;
  }

  .mt50{
    margin-top: 40px;
  }
  .pt200{
    padding-top: 80px;
  }
  .table{
    font-size: 20px;
    margin-left: 50px;
    table-layout: fixed;
  }
  .remarks{
    font-size: 18px;
    font-weight: bold;
  }
  .contractor{
    padding: 0 200px;
  }
  table th {
    height: 30px;
  }
  .thanks{
    color: #71bcff;
    font-size: 200px;
    font-weight: bold;
  }
  .pt100{
    padding-top: 40px;
  }
  .bottom{
    position: absolute;
    bottom: 0;
    left: 0;
  }
  .pt50{
    padding-top: 15px;
  }
  .mb50{
    margin-bottom: 15px;
  }
</style>


<body>
<div id="main-container" class="container expanded">
  <div class="col-xs-12">
    <div class="col-xs-5" >
      <br>
      <h3>
        <b>Order No:</b> #<%= @order.id %>
        <br>
        <b >DATE:</b> <%= @order.created_at.strftime("%d-%b-%Y") %>
      </h3>
    </div>
    <div class="col-xs-7 " align="right">
      <span class="tnq" style="font-size: 40px; padding-top: 50px">Krishna Agencies</span>
    </div>
  </div>
<div class="container col-md-10 page-body">
  <div class="row">
    <h3 class="col-md-4" align="center">
      Order Details
    </h3>
  </div>
  <div class="col-xs-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="col-xs-12 mt20">
          <div class="col-xs-6">
            <%= label_tag 'Customer: '%>&nbsp&nbsp<%= @order.customer.try(:name) %>
          </div>
          <div class="col-xs-6">
            <%= label_tag 'Customer Phone: '%>&nbsp&nbsp<%= @order.phone %>
          </div>
        </div>
        <div class="col-xs-12 mt10">
          <div class="col-xs-6">
            <%= label_tag 'Address: '%>&nbsp&nbsp<%= @order.customer_address %>
          </div>
          <div class="col-xs-6">
            <%= label_tag 'Date: '%>&nbsp&nbsp<%= @order.created_at.strftime("%d-%m-%Y  -  %H:%M") %>
          </div>
        </div>

        <div class="col-xs-12 mt10">
            <div class="col-xs-6">
              <%= label_tag 'Order Status: '%>&nbsp&nbsp<%= @order.order_status.titleize %>
            </div>
            <div class="col-xs-6">
              <%= label_tag 'Order Tracking id: '%>&nbsp&nbsp<%= @order.order_track_id %>
            </div>
        </div>
      </div>
    </div></div></div>
      <div class="col-xs-12">
        <table class="table table-bordered" width="900">
          <thead>
          <tr>
            <th class="col-xs-2">S No.</th>
            <th class="col-xs-3">Item</th>
            <th class="col-xs-1">Mrp</th>
            <th class="col-xs-2">Discount</th>
            <th class="col-xs-1">Rsp</th>
            <th class="col-xs-2">Order Quantity</th>
            <th class="col-xs-1">Total</th>
          </tr>
          </thead>
          <tbody>
          <% @order.order_products.each_with_index do |item, index| %>
            <% if item.product.stock_quantity < item.quantity and (@order.order_status == "new_order" or @order.order_status == "accepted") %>
              <tr bgcolor="#f7c6b3">
            <% else %>
              <tr>
            <% end %>
            <td><%= index+1 %></td>
            <td><%= item.product.try(:name)%></td>
            <td><%= item.mrp %></td>
            <td><%= item.discount %></td>
            <td><%= item.rsp %></td>
            <td><%= item.quantity %></td>
            <td><%= item.rsp * item.quantity %></td>
            </tr>
          <% end %>
          <tr>
            <td colspan="7" style="text-align: right;">
              <b>
                <div>
                  <%= label_tag 'Order Amount ', nil,style:"width: 120px;text-align: left;"%>
                  <%= label_tag @order.order_amount.to_f, nil,style:"width: 50px;text-align: right;"%>
                </div>
                <div>
                  <%= label_tag 'Total Amount ', nil,style:"width: 120px;text-align: left;"%>
                  <%= label_tag @order.order_amount, nil,style:"width: 50px;text-align: right;"%>
                </div>
              </b>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
</div>

</body>
</html>

