<div class="container col-md-10 page-body">
  <div class="row">
    <h4 class="col-md-2 col-xs-offset-2" style="padding-top: 50px">
      <%= link_to admin_orders_path,  class: "btn btn-blue pull-left" do %>
        Back
      <% end %>
    </h4>
    <h3 class="col-md-4" align="center">
      Order Details
    </h3>
  </div>
  <div class="col-xs-10 col-xs-offset-1">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="col-xs-12 mt20">
          <div class="col-xs-6">
            <%= label_tag 'Customer: '%>&nbsp&nbsp<%= @order.customer.try(:name) %>
          </div>
          <div class="col-xs-6">
            <%= label_tag 'Customer Phone: '%>&nbsp&nbsp<%= @order.phone %>
          </div>
        </div>
        <div class="col-xs-12 mt10">
          <div class="col-xs-6">
            <%= label_tag 'Address: '%>&nbsp&nbsp<%= @order.customer_address %>
          </div>
          <div class="col-xs-6">
            <%= label_tag 'Date: '%>&nbsp&nbsp<%= @order.created_at.strftime("%d-%m-%Y  -  %H:%M") %>
          </div>
        </div>

        <div class="col-xs-12 mt10">
          <% if @current_user.user_type == 'super_admin' and @order.order_status != "cancelled" and @order.order_status !="delivered"  %>
            <div class="col-xs-2">
              <%= label_tag 'Order Status: '%></div>
            <div class="col-xs-2">
              <%= form_for @order, url: admin_order_path do |f| %>
                <%= f.select :order_status, Order.order_statuses.keys, {},
                             { class: 'feedr-main-select form-control ','data-behavior' => "chosen-select"} %>
                </div>
                <div class="col-xs-2"><%= f.submit "Update", class: 'btn btn-green' %>
                </div>
              <% end %>
          <% else %>
            <div class="col-xs-6">
              <%= label_tag 'Order Status: '%>&nbsp&nbsp<%= @order.order_status.titleize %>
            </div>
          <% end %>
          <% if @order.is_paid == "paid_by_admin" %>
            <div class="col-xs-6">
              <%= label_tag 'Payment Status: '%>&nbsp&nbsp<b>Paid</b>
            </div>
          <% else %>
            <div class="col-xs-6">
              <%= label_tag 'Payment Status: '%>&nbsp&nbsp
              <div class="btn btn-white">
                <%= link_to controller: "orders", action: "paid", id: @order.id do %>
                  Mark as Paid
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
        <div class="col-xs-12 mt20">
          <div class="col-xs-2">
          <%= label_tag 'Tracking Details: '%>&nbsp&nbsp
          </div>
          <div class="btn btn-white">
            <%= link_to controller: "orders", action: "tracking_modal", id: @order.id, remote:true do %>
              Add/Edit
            <% end %>
          </div>
          </div>
        </div>
        </div>

        <div class="col-xs-10 col-xs-offset-1 mt20">
          <table class="table table-bordered" id="products">
            <thead>
            <tr>
              <th class="col-xs-1">S No.</th>
              <th class="col-xs-5">Item</th>
              <th class="col-xs-1">Mrp</th>
              <th class="col-xs-1">Discount</th>
              <th class="col-xs-1">Rsp</th>
              <th class="col-xs-1">Order Quantity</th>
              <th class="col-xs-1">Delivered Quantity</th>
              <th class="col-xs-1">Stock</th>
              <th class="col-xs-1">Total</th>
              <th class="col-xs-1">To Deliver?</th>
            </tr>
            </thead>
            <tbody>
            <%= nested_form_for(@order, :url => {:controller => 'orders', :action => 'update'}, :method => 'put') do |f| %>
            <% #@order.order_products.each_with_index do |item, index| %>
              <% count=1 %>
                <%= f.fields_for :order_products do |task_form| %>
              <% if task_form.object.product.stock_quantity < task_form.object.quantity.to_i and (@order.order_status == "new_order" or @order.order_status == "accepted" or @order.order_status == "partially_delivered") %>
                <tr bgcolor="#f7c6b3">
              <% else %>
                <tr>
              <% end %>
                <td><%= count %></td>
                <td><%= task_form.object.product.try(:name)%></td>
                <td><%= task_form.object.mrp %></td>
                <td><%= task_form.object.discount %></td>
                <td><%= task_form.object.rsp %></td>
                <td class="quantity"><%= task_form.object.quantity%></td>
                <td class="dispatched_quantity"><%= task_form.object.dispatched_quantity %></td>
                <td class="stock"><%= task_form.object.product.stock_quantity %></td>
                <td><%= task_form.object.rsp.to_i * task_form.object.quantity.to_i %></td>
                <td>
                  <% if task_form.object.dispatched_quantity == task_form.object.quantity or @order.order_status == "delivered" %>
                    <%= task_form.number_field :dispatched_quantity, class: 'form-control input feedr-main-input add_delivery' %>
                  <% else %>
                    <%= task_form.number_field :dispatched_quantity, class: 'form-control input feedr-main-input add_delivery'%>
                  <% end %>
                </td>
              </tr>
            <% count+=1 %>
                <% end %>
            <%# end %>

            <tr>
              <td colspan="8" style="text-align: right; padding-right: 10px">
                <b>
                  <div>
                    <%= label_tag 'Order Amount ', nil,style:"width: 120px;text-align: left;"%>
                    <%= label_tag @order.order_amount.to_f, nil,style:"width: 116px;text-align: right;"%>
                  </div>
                  <% if @order.coupon_id.present? %>
                    <div>
                      <%= label_tag 'Coupon Code ', nil,style:"width: 120px;text-align: left;"%>
                      <%= label_tag @order.coupon.code,  nil,style:"width: 116px;text-align: right"%>
                    </div>
                    <% if @order.coupon.coupon_type == "fixed_value" %>
                    <div>
                      <%= label_tag 'Coupon Discount ', nil,style:"width: 120px;text-align: left;"%>
                      <%= label_tag @order.coupon.amount,  nil,style:"width: 116px;text-align: right;"%>
                    </div>
                    <div>
                      <%= label_tag 'Total Amount ', nil,style:"width: 120px;text-align: left;"%>
                      <%= label_tag @order.order_amount - @order.coupon.amount, nil,style:"width: 116px;text-align: right;"%>
                    </div>
                    <% else %>
                      <div>
                        <%= label_tag 'Coupon Discount ', nil,style:"width: 120px;text-align: left;"%>
                        <%= label_tag @order.coupon.amount.to_s + "%",  nil,style:"width: 116px;text-align: right;"%>
                      </div>
                      <div>
                        <%= label_tag 'Total Amount ', nil,style:"width: 120px;text-align: left;"%>
                        <%= label_tag @order.order_amount - ((@order.coupon.amount*@order.order_amount)/100), nil,style:"width: 116px;text-align: right;"%>
                      </div>
                    <% end %>
                  <% else %>
                  <div>
                    <%= label_tag 'Total Amount ', nil,style:"width: 120px;text-align: left;"%>
                    <%= label_tag @order.order_amount, nil,style:"width: 116px;text-align: right;"%>
                  </div>
                  <% end %>
                </b>
              </td>
              <td colspan="4">
                <% if @order.order_status != "delivered" %>
                <div class="col-md-12" align="left">
                  <%= f.submit "Add Delivery", class: 'btn btn-blue deliver' %>
                </div>
                <% end %>
              </td>
            </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
<div class="col-md-5 col-xs-offset-8">
  <%= link_to download_order_admin_orders_path(id: @order.id), class: "btn btn-blue", style: "font-size: 16px;" do %>
    Download PDF
  <% end %>
  <div class="btn btn-white" style="font-size: 16px;">
    <%= link_to "Export as Excel", order_detail_excel_admin_orders_path(format: "xlsx", id: @order.id) %>
  </div>
</div>
</div>

<script>

    $(function () {
        var bool = true;
        $('#products > tbody  > tr').each(function() {
            var quantity = $(this).find('.quantity').text();
            var dis_quantity = $(this).find('.dispatched_quantity').text();
            var stock = $(this).find('.stock').text();
            var delivery = ((quantity-dis_quantity) >= stock)?stock:(quantity-dis_quantity);

            if(delivery != 0)
                bool = false;
            if(delivery<0)
                delivery = 0;
            $(this).find(".add_delivery").val(delivery);
        });
        //if(bool)
         // $('.deliver').hide();
    });

</script>

