<div class="modal fade", id="addEntry">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <div class="container col-md-8 page-body">
          <div class="row mb10" align="center">
            <h3 class="col-md-11" id="name_header"></h3>
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
          </div>
          <div class="row">
            <div class="panel panel-default">
              <div class="panel-body">
                <%= form_tag  "/admin/debtors/create_entry", method: :post do |f| %>
                  <div class="row mrs mls new_form">
                    <%= hidden_field_tag :customer_id %>
                    <div class="col-md-6 mt10">
                      <%= label_tag :payment_mode, 'Entry Type' %>
                      <%= select_tag  :payment_mode, options_for_select(DebtorLedger.payment_modes.collect{|key, value| key == 'sales_invoice' || key == 'reverse_adjustment' ? ["Dr - #{key.titleize}", value] : ["Cr - #{key.titleize}", value]}.sort_by{|arr| arr[0]}.reverse), class: "form-control feedr-main-select", required: true, include_blank: "Type" %>
                    </div>
                    <!--
                    <div class="col-md-6 mt10 hide" id="bank_div">
                      <%#= label_tag :bank, 'Bank' %>
                      <%#= select_tag  :bank, options_for_select(DebtorLedger.banks), class: "form-control feedr-main-select", include_blank: "Bank" %>
                    </div>
                    -->
                    <div class="col-md-6 mt10">
                      <%= label_tag :amount, 'Amount' %>
                      <%= number_field_tag  :amount,nil, class: "form-control feedr-main-input", required: true, min: 0, step: 0.01 %>
                    </div>
                    <div class="col-md-6 mt10">
                      <%= label_tag :order_reference, 'Invoice/Reference' %>
                      <%= text_field_tag  :order_reference, nil, class: "form-control feedr-main-input" %>
                    </div>
                    <div class="col-md-6 mt10">
                      <%= label_tag :date, 'Date' %>
                      <%= text_field_tag :date, Date.today.strftime("%d-%m-%Y"), :placeholder => 'Date', class: 'form-control datepicker feedr-main-input' %>
                    </div>
                    <div class="col-md-6 mt10">
                      <%= label_tag :comment, 'Comment' %>
                      <%= text_field_tag :comment, nil, :placeholder => 'Comment', class: 'form-control feedr-main-input' %>
                    </div>
                    <div class="mt10 col-md-12" align="right">
                      <%= submit_tag "Save", class: 'btn btn-green' %>
                    </div>
                <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
