<div class="modal fade", id="createDebtor">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <div class="container col-md-8 page-body">
          <div class="row mb10" align="center">
            <h3 class="col-md-11">
              Add Debtor
            </h3>
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
          </div>
          <div class="row">
            <div class="panel panel-default">
              <div class="panel-body">
                <%= form_for Customer.new, url: "/admin/customers", method: :post do |f| %>
                  <div class="row mrs mls new_form">
                    <div class="col-md-6 mt10">
                      <%= label_tag :name, 'Name' %>
                      <%= f.text_field  :name, class: "form-control feedr-main-input", required: true %>
                    </div>
                    <div class="col-md-6 mt10">
                      <%= label_tag :phone_number, 'phone_number' %>
                      <%= f.text_field  :phone_number, class: "form-control feedr-main-input", required: true %>
                    </div>

                    <div class="col-md-6 mt10">
                      <%= label_tag :address, 'Address' %>
                      <%= f.text_field  :address, class: "form-control feedr-main-input", required: true %>
                    </div>
                    <div class="col-md-6 mt10">
                      <%= label_tag :gstin, 'GSTIN' %>
                      <%= f.text_field  :gstin, class: "form-control feedr-main-input" %>
                    </div>
                  </div>
                  <div class="mt10 col-md-12" align="right">
                    <%= submit_tag "Save", class: 'btn btn-green' %>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
