<div class="modal fade", id="multipleAccounts">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <div class="container col-md-8 page-body">
          <div class="row mb10" align="center">
            <h3 class="col-md-11" id="name_header"></h3>
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
          </div>
          <div class="row">
            <div class="panel panel-default">
              <div class="panel-body">
                <%= form_tag  "/admin/debtors/multiple_business_accounts", method: :get do |f| %>
                  <div class="row mrs mls new_form">
                    <div class="col-md-12 mt10">
                      <%= label_tag :name, 'Business Account Name' %>
                      <%#= select_tag  :name, options_for_select(Customer.pluck(:business_name).uniq.compact), class: "form-control feedr-main-select",'data-behavior' => "chosen-select", required: true, include_blank: "Business Name" %>
                    </div>
                    <div class="mt10 col-md-12" align="right">
                      <%= submit_tag "Submit", class: 'btn btn-green' %>
                    </div>
                <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>