<div class="modal fade", id="reconcileAccount">
  <div class="modal-dialog" style="width: 90%;">
    <div class="modal-content">
      <div class="modal-header">
        <div class="container col-md-11 page-body">
          <div class="row mb10" align="center">
            <h3 class="col-md-11" id="name_header"><%= name %></h3>
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
          </div>
          <div class="row">
            <div class="panel panel-default">
              <div class="panel-body">
                  <div class="row mrs mls new_form">
                    <div class="col-md-12 mt10">
                      <table class="table table-bordered", style="display: block;height: 500px;overflow-y: scroll;" >
                        <thead>
                        <tr>
                          <th class="sticky-col-left" style="padding-left: 3px;"><input type="checkbox" class="cb top" name="all" value="all" style="
                          margin-left: 5px;"></th>
                          <th class="col-xs-1">Date</th>
                          <th class="col-xs-2">POS Reference </th>
                          <th class="col-xs-1">Mode</th>
                          <th class="col-xs-1">Payment Mode</th>
                          <th class="col-xs-2">Store</th>
                          <th class="col-xs-1">Debit Amount</th>
                          <th class="col-xs-1">Credit Amount</th>
                          <th class="col-xs-1">Bank</th>
                          <th class="col-xs-1">Comment</th>

                        </tr>
                        </thead>
                        <tbody>
                        <% debtor_ledgers.each_with_index do |ledger,i| %>
                          <tr>
                            <td class="sticky-col-left"><%= check_box_tag ledger.id, ledger.id, false, class: 'cb tb'%></td>
                            <td><%= ledger.date.try(:strftime, "%d-%b-%Y") %></td>
                            <td><%= ledger.order_reference %></td>
                            <td><%= ledger.mode.titleize%></td>
                            <td><%= ledger.payment_mode.titleize%></td>
                            <td style="text-align: right;"><%= sprintf('%.2f', ledger.debit_amount.to_f) %></td>
                            <td style="text-align: right;"><%= sprintf('%.2f', ledger.credit_amount.to_f) %></td>
                            <td> <%= ledger.bank %></td>
                            <td> <%= ledger.comment %></td>
                          </tr>
                        <% end %>
                        </tbody>
                      </table>
                    </div>
                    <div class="mt10 col-md-12" align="right">
                      <%= text_field_tag :reconcile_comment, nil, class: 'form-control feedr-main-input', placeholder: 'Reconcile comment'%>
                      <%= button_tag "Save", class: ' reconcile_submit btn btn-green mt10' %>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%= javascript_include_tag 'debtors/reconcile' %>