<div class="modal fade" id="uploadEntries">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">Upload Debtor </h4>
      </div>
      <%= form_tag upload_entries_admin_debtors_path, class: 'form-horizontal', multipart: true, "data-behaviour" => 'modal-form' do |f| %>
        <div class="modal-body">
          <b>Import File</b>
          <br /><br />
          <%= file_field_tag :document, required: true %>
          </small>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary btn-sm" data-dismiss="modal"> <i class="fa fa-times fa-lg update"></i> <span class="bold-text">Close</span></button>
          <%= submit_tag 'Upload File', class: 'btn btn-success btn-sm' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
