<div class="page-body">
  <h2 align="center">Debtors</h2>
  <div class="col-md-12 mt20 no-left-pad coupon-search-box">
    <div class="col-md-5">
    <% if @current_user.can_manage_debtors?  %>
     <!-- <div class="col-md-3 mt20 ">
        <%#= link_to "#", class: "btn btn-green" , data: {toggle:"modal", target:"#createDebtor"} do %>
          Add Debtor
        <%# end %>
      </div> -->
      <div class="col-md-3 mt20">
        <%= link_to "#", class: "btn btn-green" , data: {toggle:"modal", target:"#uploadEntries"} do %>
          Upload Entries
        <% end %>
      </div>
        <div class="col-md-3 mt20">
          <%#= link_to "#", class: "btn btn-green" , data: {toggle:"modal", target:"#multipleAccounts"} do %>
            <!-- Multiple Accounts -->
          <%# end %>
        </div>
      <% if @current_user.email == 'garvit101293@gmail.com' %>
        <div class="col-md-3 mt20">
          <%= link_to "/admin/debtors/refresh_debtors", class: "btn btn-green" do %>
            Refresh
          <% end %>
        </div>
      <% end %>
    <% end %>
    </div>
    <%= search_form_for(@q,url: admin_debtors_path, id: 'customer_search_form') do |f| %>
      <div class="col-md-7">
      <div class="col-md-3 mt20 ">
        <%=f.text_field :id_eq, class: 'form-control feedr-main-input', placeholder: 'Customer Id'%>
      </div>
      <div class="col-md-3 mt20 ">
        <%=f.text_field :company_cont, class: 'form-control feedr-main-input', placeholder: 'Company'%>
      </div>

      <div class="col-md-1">
        <a id="customer_submit" class="btn btn-default submit btn-green mt20">
          <i class="fa fa-search" aria-hidden="true"></i>
        </a>
      </div>
      </div>
    <%end%>
  </div>

  <% if @current_user.can_view_debtors? %>
    <div class="col-xs-12 mt20">
    <table class="table table-bordered" >
      <thead>
      <tr>
        <th class="col-xs-1">Cust Id</th>
        <th class="col-xs-2">Company</th>
        <th class="col-xs-1">Phone</th>
        <th class="col-xs-1">Address</th>
        <th class="col-xs-1">GSTIN</th>
        <th class="col-xs-1">Total Debit</th>
        <th class="col-xs-1">Total Credit</th>
        <th class="col-xs-1">Sale Return</th>
        <th class="col-xs-2">Outstanding Balance</th>
        <th class="col-xs-1">Last Updated</th>
        <th class="col-xs-2">Action</th>
      </tr>
      </thead>
      <tbody>
      <% @debtors.each do |debtor| %>
        <% if debtor.outstanding_balance.to_f < 0%>
          <tr  style="background: #b3f7b3;">
        <%elsif debtor.outstanding_balance.to_f == 0 %>
          <tr  style="background: #f1ebe8;">
          <% else %>
          <tr  style="background: #f7c6b3;">
        <% end %>
        <td><%= debtor.customer.try(:id) %></td>
        <td><%= debtor.customer.try(:company) %></td>
        <td><%= debtor.customer.try(:phone_number) %></td>
        <td><%= debtor.customer.try(:address) %></td>
        <td><%= debtor.customer.try(:gstin) %></td>
        <td style="text-align: right;"><%= sprintf('%.2f', debtor.total_debit.to_f)%></td>
        <td style="text-align: right;"><%= sprintf('%.2f', debtor.total_credit.to_f) %></td>
        <td style="text-align: right;"><%= sprintf('%.2f', debtor.sales_return.to_f) %></td>
        <td style="text-align: right;"><%= sprintf('%.2f', debtor.outstanding_balance.to_f) %></td>
        <td><%= debtor.updated_at.try(:strftime, "%d-%m-%Y") %></td>
        <td>
          <% if debtor.id.present? %>
            <%= link_to "/admin/debtors/#{debtor.id}", class: "btn btn-grey" do %>
              Details
            <% end %>
            <% else %>
            <%= link_to "/admin/debtors/add_entry?customer_id=#{debtor.customer_id}", class: "btn btn-green", remote: true do %>
              Add Entry
            <% end %>
          <% end %>

        </td>
        </tr>
      <% end %>
      </tbody>
    </table>
    <div class="page_links ppl">
      <%= will_paginate @debtors if @paginate%>
    </div>
  </div>
  <% end %>

</div>
<%= render 'create_debtor'%>
<%= render 'add_entry'%>
<%= render 'upload_entries'%>
<%= render 'multiple_business_accounts'%>
<script>
    ChosenApplier.init($('select[data-behavior=chosen-select]'));
    $('#customer_submit').on('click', function() {
        $('#customer_search_form').submit();
    });
</script>
