<div class="page-body">
  <h3 align="center"><u><%= params[:name]%></u></h3>
  <div>

  </div>
  <div class="col-xs-12 mt20 no-left-pad coupon-search-box">
    <div class="col-md-1 mt20">
      <%= link_to "/admin/debtors", class: "btn btn-blue" do %>
        &larr; Back
      <% end %>
    </div>
    <div class="col-md-1 mt20">
      <% if @current_user.super_admin? %>
        <%= link_to "#", class: "btn btn-grey" , data: {toggle:"modal", target:"#reconcileAccount"} do %>
          Reconcile
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="col-xs-12 mt20">
    <table class="table table-bordered" >
      <thead>
      <tr>
        <th class="col-xs-0">S No</th>
        <th class="col-xs-1">Name</th>
        <th class="col-xs-1">Date</th>
        <th class="col-xs-1">POS Reference </th>
        <th class="col-xs-1">Mode</th>
        <th class="col-xs-1">Payment Mode</th>
        <th class="col-xs-2">Store</th>
        <th class="col-xs-1">Debit Amount</th>
        <th class="col-xs-1">Credit Amount</th>
        <th class="col-xs-1">Bank</th>
        <th class="col-xs-1">Comment</th>
        <th class="col-xs-1">Reconciled</th>
        <th class="col-xs-1">Reconcile Comment</th>
      </tr>
      </thead>
      <tbody>
      <% @debtor_ledgers.each_with_index do |ledger,i| %>
        <tr>
          <td><%= i+1 %></td>
          <td><%= ledger.debtor.customer.name %></td>
          <td><%= ledger.date.try(:strftime, "%d-%b-%Y") %></td>
          <td><%= ledger.order_reference %></td>
          <td><%= ledger.mode.titleize%></td>
          <td><%= ledger.payment_mode.titleize%></td>
          <td style="text-align: right;"><%= sprintf('%.2f', ledger.debit_amount.to_f) %></td>
          <td style="text-align: right;"><%= sprintf('%.2f', ledger.credit_amount.to_f) %></td>
          <td> <%= ledger.bank %></td>
          <td> <%= ledger.comment %></td>
          <% if ledger.reconciled == true %>
            <td style="background: #b3f7b3;"> <%= ledger.reconciled %></td>
          <% else %>
            <td > <%= ledger.reconciled %></td>
          <% end %>
          <td> <%= ledger.reconcile_comment %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
    <!--    <div class="col-md-12">-->
    <%
      total_debit = @debtor_ledgers.sum(:debit_amount)
      total_credit = @debtor_ledgers.sum(:credit_amount)
      outstanding_amount = total_debit - total_credit
    %>
    <div class="col-md-12" align="right">
      <b class="col-xs-11">Total Debit : </b> <%= total_debit %>
    </div>
    <div class="col-md-12" align="right">
      <b class="col-xs-11">Total Credit : </b> <%= total_credit %>
    </div>
    <div class="col-md-12" align="right">
      <b class="col-xs-11">Outstanding Amount : </b> <%= outstanding_amount %>
    </div>
    <!--    </div>-->
  </div>
</div>
<%= render 'reconcile_account', debtor_ledgers: @debtor_ledgers.where(reconciled: false), name: params[:name]%>
