<div class="page-body">
  <h3 align="center"><u><%= "#{@debtor.customer.id} | #{@debtor.customer.name}" %></u></h3>
  <div>

  </div>
  <div class="col-xs-12 mt20 no-left-pad coupon-search-box">
    <div class="col-md-1 mt20">
      <%= link_to "/admin/debtors", class: "btn btn-blue" do %>
        &larr; Back
      <% end %>
    </div>
    <!--
    <div class="col-md-1 mt20">
      <% if @current_user.super_admin? %>
        <%= link_to "#", class: "btn btn-grey" , data: {toggle:"modal", target:"#reconcileAccount"} do %>
          Reconcile
        <% end %>
      <% end %>
    </div>
    -->
    <% if @current_user.can_manage_debtors?  %>
      <div class="col-md-2 mt20">
        <%= link_to "/admin/debtors/add_entry?customer_id=#{@debtor.customer_id}", class: "btn btn-green", remote: true do %>
          Add Entry
        <% end %>
      </div>
    <%end %>
    <%= search_form_for(@q,url: "/admin/debtors/#{params[:id]}", id: 'customer_search_form') do |f| %>
      <div class="col-md-2 mt20 no-right-pad">
        <%=f.text_field :order_reference_cont, class: 'form-control feedr-main-input', placeholder: 'Bill Number'%>
      </div>
      <div class="col-md-3 mt20 no-right-pad">
        <%= f.text_field :date_gteq, :placeholder => 'From', class: 'form-control datepicker feedr-main-input from-to' %>
        to
        <%= f.text_field :date_lteq, :placeholder => 'To', class: 'form-control datepicker feedr-main-input from-to' %>
      </div>
      <div>
        <a id="customer_submit" class="btn btn-default submit btn-green mt20">
          <i class="fa fa-search" aria-hidden="true"></i>
        </a>
      </div>
    <%end%>
  </div>
  <div class="col-xs-12 mt20">
    <table class="table table-bordered" >
      <thead>
      <tr>
        <th class="col-xs-1">S No</th>
        <th class="col-xs-1">Date</th>
        <th class="col-xs-2">OrderReference </th>
        <th class="col-xs-1">Mode</th>
        <th class="col-xs-1">Payment Mode</th>
        <th class="col-xs-1">Debit Amount</th>
        <th class="col-xs-1">Credit Amount</th>
        <th class="col-xs-1">Comment</th>
       <!-- <th class="col-xs-1">Reconciled</th>
        <th class="col-xs-1">Reconcile Comment</th> -->
      </tr>
      </thead>
      <tbody>
      <% @debtor_ledgers.each_with_index do |ledger,i| %>
        <tr>
          <td><%= i+1 %></td>
          <td><%= ledger.date.try(:strftime, "%d-%b-%Y") %></td>
          <td><%= ledger.order_reference %></td>
          <td><%= ledger.mode.titleize%></td>
          <td><%= ledger.payment_mode.titleize%></td>
          <td style="text-align: right;"><%= sprintf('%.2f', ledger.debit_amount.to_f) %></td>
          <td style="text-align: right;"><%= sprintf('%.2f', ledger.credit_amount.to_f) %></td>
          <td> <%= ledger.comment %></td>
          <!--
          <% if ledger.reconciled == true %>
            <td style="background: #b3f7b3;"> <%= ledger.reconciled %></td>
          <% else %>
            <td > <%= ledger.reconciled %></td>
          <% end %>

          <td> <%= ledger.reconcile_comment %></td>
          -->
        </tr>
      <% end %>
      </tbody>
    </table>
    <!--    <div class="col-md-12">-->
    <div class="col-md-12" align="right">
      <b class="col-xs-11">Total Debit : </b> <%= @debtor.total_debit %>
    </div>
    <div class="col-md-12" align="right">
      <b class="col-xs-11">Total Credit : </b> <%= @debtor.total_credit %>
    </div>
    <div class="col-md-12" align="right">
      <b class="col-xs-11">Outstanding Amount : </b> <%= @debtor.outstanding_balance %>
    </div>
    <!--    </div>-->
    <div class="page_links ppl">
      <%#= will_paginate @debtor_ledgers%>
    </div>
  </div>
</div>
<%= render 'add_entry'%>
<%= render 'reconcile_account', debtor_ledgers: @debtor_ledgers.where(reconciled: false), name: @debtor.customer.name%>
<script>
    ChosenApplier.init($('select[data-behavior=chosen-select]'));
    $( document ).ready(function() {
        $('.datepicker').datepicker({
            dateFormat: "dd-mm-yy"
        });
    });
    $('#customer_submit').on('click', function() {
        $('#customer_search_form').submit();
    });
</script>
