.text-head {
  font-size: 28px;
  color: #637e8c;
  font-weight: 400;
  text-align: center;
  margin: 0 0 32px;
}

.coupon-search-box{
  border-radius: 6px;
  background-color: #fff;
  border: 1px;
  padding-bottom: 20px;
  margin-top: 50px;
}

.coupon-redeem-box{
  border-radius: 6px;
  background-color: #fff;
  padding: 24px 40px;
  border: 1px;

  .feedr-main-input{
    height: 45px;
  }

  .submit-btn{
    width: 150px;
    height: 45px;
    border-radius: 2px;
    background-color: #338aed;
    font-size: 14px;
    text-transform: uppercase;
    margin: 0 auto;
    border: 0 none;
    color: #fff;
    display: block;
    margin-top: 20px;

  }
}

.container-div{
  background: #ECEEFF;
  padding-bottom: 50px;
  padding-top: 30px;
  min-height: 780px;
}

.modal-header{
  border-bottom: 0;
}

.modal-footer{
  border-top: 0;
}

.modal-header{
  padding-bottom: 0;
}

.modal-body{
  padding-top: 0;
}
.modal-content{
  padding: 3%;
  border: 3px solid grey;
}
.modal-dialog{
  width: 50%;
  margin-top: 5%;
  margin-left: 17%;
}