<div class="form-group col-md-6">
  <%= f.label :title, 'Title' %>
  <%= f.text_field :title, class: 'form-control input feedr-main-input', required: true %>
</div>

<div class="form-group col-md-6">
  <%= f.label :description, 'Description' %>
  <%= f.text_field :description, class: 'form-control input feedr-main-input', required: true %>
</div>

<div class="form-group col-md-6">
  <%= f.label :status, 'Status' %>
  <%= f.select :status, ['active', 'inactive'], {},
               { class: 'feedr-main-select form-control ','data-behavior' => "chosen-select"} %>
</div>

<script>
    ChosenApplier.init($('select[data-behavior=chosen-select]'))
</script>