<div class="container-div page-body">
  <div>
    <div class="col-xs-12" align="center">
      <h3><u>Schemes</u></h3>
    </div>
    <div class="col-xs-12 no-left-pad">
      <div class="col-md-2 col-md-offset-2 ">
        <h3>
          <%= link_to new_admin_scheme_path, class: "btn btn-green" do %>
            </span> Add scheme
          <% end %>
        </h3>
      </div>
    </div>
  </div>

  <div class="col-xs-10 col-xs-offset-1">
    <table class="table table-bordered table-striped feedr-main-tabl" >
      <thead>
      <tr>
        <th class="col-xs-1">Id</th>
        <th class="col-xs-1">Title</th>
        <th class="col-xs-2">Description</th>
        <th class="col-xs-2">Status</th>
        <th class="col-xs-1">Action</th>
      </tr>
      </thead>
      <tbody>
      <% @schemes.each do |scheme| %>
        <tr>
          <td><%= scheme.id%></td>
          <td><%= scheme.title%></td>
          <td><%= scheme.description%></td>
          <td><%= scheme.status%></td>
          <td>
            <div>
              <div class="col-xs-12">
                <%= link_to edit_admin_scheme_path(scheme), class: "btn btn-sm btn-blue" do %>
                  Edit
                <% end %>
              </div>
            </div>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
    <div class="page_links ppl">
      <%= will_paginate @schemes%>
    </div>
  </div>
</div>
<script>
    ChosenApplier.init($('select[data-behavior=chosen-select]'));
</script>