<div class="container-div page-body">
  <div>
    <div class="col-xs-12" align="center">
      <h3><u>Product Sections</u></h3>
    </div>
    <div class="col-xs-12 no-left-pad">
      <div class="col-md-2 col-md-offset-2 ">
        <h3>
          <%= link_to new_admin_product_section_path, class: "btn btn-green" do %>
            </span> Add Section
          <% end %>
        </h3>
      </div>
    </div>
  </div>

  <div class="col-xs-8 col-xs-offset-2">
    <table class="table table-bordered table-striped feedr-main-table" >
      <thead>
      <tr>
        <th class="col-xs-1">Id</th>
        <th class="col-xs-2">Name</th>
        <th class="col-xs-3">Description</th>
        <th class="col-xs-1">Status</th>
        <th class="col-xs-2">Created</th>
        <th class="col-xs-2">Action</th>
      </tr>
      </thead>
      <tbody>
      <% @sections.each do |section| %>
        <tr>
          <td><%= section.id%></td>
          <td><%= section.name%></td>
          <td><%= section.description%></td>
          <td><%= section.status%></td>
          <td><%= "#{section.created_by_user.try(:name)}" %></td>
          <td>
            <%= link_to edit_admin_product_section_path(section), class: "btn btn-sm btn-blue" do %>
              Edit
            <% end %>
            <div class="col-xs-8 mt10">
              <%= image_tag "https://s3-ap-south-1.amazonaws.com/ems.images/sections/#{section.id}.jpg?timestamp=#{section.updated_at.to_s}", width: '80px', id: "upload", class: "jmodal"%>

            </div>
            <div class="col-xs-4">
              <%= form_tag upload_section_image_admin_product_sections_path(id: section.id), class: 'form-horizontal upload_form', multipart: true do |f| %>
                <label for="document_<%= section.id %>" data-id="<%= section.id %>"><%= image_tag 'upload_image.svg', width: '30px', id: "upload", class: "pointer" %></label>
                <%= file_field_tag "document_#{section.id}", class: 'section_image', style:"display: none", data: {id: section.id} %>
              <% end %>
            </div>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
    <div class="page_links ppl">
      <%= will_paginate @sections%>
    </div>
  </div>
</div>

<script>
    $('.section_image').on('change', function() {
        $(this).closest('.upload_form').submit()
    });
    $('.jmodal').on('click', function() {
        let url = "<div class=\"modal fade page-body\" id=\"product_image_modal\">\n" +
            "  <div class=\"modal-dialog\">\n" +
            "    <div class=\"modal-content\">\n" +
            "      <div class=\"modal-header\">\n" +
            "        <button type=\"button\" class=\"close\" data-dismiss=\"modal\" aria-hidden=\"true\">×</button>\n" +
            "        <div class=\"col-xs-12 modal-body\">" +
            "      <img src='" + $(this).closest('img').first().attr("src") + "' style=\"width:100%;max-width:800px\">     </div>\n" +
            "  </div>\n" +
            "</div></div></div>";
        $(url).modal();

    });
</script>