<!DOCTYPE html>
<html>
<head>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
<style>
  .a3s, .g6 {
    font: medium/1.5 Arial,Helvetica,sans-serif;
  }
</style>
</head>

<body>
<div class="container col-md-10 page-body">
  <div class="row">
    <h4 class="col-md-4" align="center">
      Order Details
    </h4>
  </div>
  <div class="col-xs-10 col-xs-offset-1">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="col-xs-12 mt20">
          <div class="col-xs-6">
            <b><%= label_tag 'Company: '%></b>&nbsp;&nbsp;<%= @order.customer.try(:company) %>
          </div>
          <div class="col-xs-6">
            <b><%= label_tag 'Customer Phone: '%></b>&nbsp;&nbsp;<%= @order.phone %>
          </div>
        </div>
        <div class="col-xs-12 mt10">
          <div class="col-xs-6">
            <b><%= label_tag 'Address: '%></b>&nbsp;&nbsp;<%= @order.customer_address %>
          </div>
          <div class="col-xs-6">
            <b><%= label_tag 'Date: '%></b>&nbsp;&nbsp;<%= @order.created_at.strftime("%d-%m-%Y  -  %H:%M") %>
          </div>
        </div>

        </div>
        <div class="col-xs-10 col-xs-offset-1 mt20">
          <table rules="all" bordercolor="#4d4c4d" border="1" bgcolor="#FFFFFF" cellpadding="10"  align="center" width="800" class="table table-bordered table-striped">
            <thead>
            <tr>
              <th class="col-xs-1">S No.</th>
              <th class="col-xs-6">Item</th>
              <th class="col-xs-1">Mrp</th>
              <th class="col-xs-1">Discount</th>
              <th class="col-xs-1">Rsp</th>
              <th class="col-xs-1">Quantity</th>
              <th class="col-xs-1">Total</th>
            </tr>
            </thead>
            <tbody>
            <% @order.order_products.each_with_index do |item, index| %>
              <tr>
                <td><%= index+1 %></td>
                <td><%= item.product.try(:name)%></td>
                <td><%= item.mrp %></td>
                <td><%= item.discount %></td>
                <td><%= item.rsp %></td>
                <td><%= item.quantity %></td>
                <td><%= item.rsp * item.quantity %></td>
              </tr>
            <% end %>
            <tr>
              <td colspan="7" style="text-align: right;">
                <b>
                  <div>
                    <%= label_tag 'Order Amount ', nil,style:"width: 120px;text-align: left;"%>
                    <%= label_tag @order.order_amount.to_f, nil,style:"width: 50px;text-align: right;"%>
                  </div>
                  <div>
                    <%= label_tag 'Total Amount ', nil,style:"width: 120px;text-align: left;"%>
                    <%= label_tag @order.order_amount, nil,style:"width: 50px;text-align: right;"%>
                  </div>
                </b>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
