<div class="container-div page-body">
  <div>
    <div class="col-xs-12" align="center">
      <h3>Product Reports</h3>
    </div>

    <div class="col-xs-12 mt20">
      <%= form_for(@q,url: item_reports_admin_reports_path, method: 'get', id: 'reports_search_form', html: { autocomplete: "off" }) do |f| %>
        <div class="col-xs-2 ">
          <%= f.text_field :created_at_gteq, :placeholder => 'From Date', class: 'form-control datepicker feedr-main-input' %>
        </div>
        <div class="col-xs-2 ">
          <%= f.text_field :created_at_lteq, :placeholder => 'To Date', class: 'form-control datepicker feedr-main-input' %>
        </div>
        <div class="col-md-2">
          <%=f.select :customer_id_eq, companies_for_select, {include_blank: 'Select a company'},class: 'form-control feedr-main-select', 'data-behavior' => "chosen-select" %>
        </div>
        <div class="col-md-2">
          <%=f.submit 'Search', class: 'form-control btn btn-green'%>
        </div>
      <%end%>
    </div>
  </div>

  <div class="col-xs-12 mt20">
    <table class="table table-bordered table-striped feedr-main-tabl" >
      <thead>
      <tr>
        <th class="col-xs-1">Id</th>
        <th class="col-xs-2">Division</th>
        <th class="col-xs-2">Section</th>
        <th class="col-xs-2">Product Name</th>
        <th class="col-xs-1">Article Number</th>
        <th class="col-xs-2">Quantity Sold</th>
        <th class="col-xs-2">Total Invoice</th>
      </tr>
      </thead>
      <tbody>
      <% @products.each_with_index do |product, index| %>
        <td><%= index+1 %></td>
        <td><%= product.product_division.try(:name) %></td>
        <td><%= product.product_section.try(:name) %></td>
        <td><%= product.name %></td>
        <td><%= product.article_number %></td>
        <td><%= @order_products.group(:product_id).sum(:quantity)[product.id].to_i %></td>
        <td><%= @order_products.group(:product_id).sum('rsp * quantity')[product.id].to_f  %></td>
        </tr>
      <% if index+1==10 %>
        <% break %>
      <% end %>
      <% end %>
      </tbody>
    </table>
    <div class="col-xs-12" align="right">
      <div class="col-xs-1 btn btn-white" style="font-size: 16px;">
        <%= link_to "View all", download_item_reports_admin_reports_path(format: "xlsx", :ids => @orders.ids) %>
      </div>
    </div>
  </div>
</div>

<script>
    ChosenApplier.init($('select[data-behavior=chosen-select]'));
    $( document ).ready(function() {
        $('.datepicker').datepicker({dateFormat: "yy-mm-dd"});
    });
</script>