<div class="container-div page-body">
    <div class="col-xs-12 text-head" >
      <h1>Sales Rep Report</h1>
    </div>
<div class="container" align = "center">
  <div class="col-xs-12">
    <%= form_for(@q,url: salesperson_reports_admin_reports_path, method: 'get', id: 'reports_search_form', html: { autocomplete: "off" }) do |f| %>
      <div class="col-xs-3 ">
        <%= f.text_field :created_at_gteq, :placeholder => 'From Date', class: 'form-control datepicker feedr-main-input' %>
      </div>
      <div class="col-xs-3 ">
        <%= f.text_field :created_at_lteq, :placeholder => 'To Date', class: 'form-control datepicker feedr-main-input' %>
      </div>
      <div class="col-md-3">
        <%=f.select :user_id_eq, salesperson_for_select, {include_blank: 'Select a Sales Rep'},class: 'form-control feedr-main-select', 'data-behavior' => "chosen-select" %>
      </div>
      <div class="col-md-2">
        <%=f.submit 'Search', class: 'form-control btn btn-green'%>
      </div>
    <%end%>
  </div>
  <div class="col-xs-12 mt20">
  <h2> Total Invoice </h2>
  <%= line_chart @invoice %>
  </div>
  <div class="col-xs-12 mt20">
    <h2> Total Quantity </h2>
    <%= line_chart @quantity %>
  </div>

</div>
</div>

<script>
    ChosenApplier.init($('select[data-behavior=chosen-select]'));
    $( document ).ready(function() {
        $('.datepicker').datepicker({dateFormat: "yy-mm-dd"});
    });
</script>