
<div class="form-group col-md-6 ">
  <%= f.label :name, 'Name' %>
  <%= f.text_field :name, class: 'form-control input feedr-main-input', required: true  %>
</div>

<div class="form-group col-md-6 ">
  <%= f.label :product_division_id, 'Product Division' %>
  <%= f.select :product_division_id, ProductDivision.all.pluck(:name, :id), {},
               { class: 'feedr-main-select form-control ','data-behavior' => "chosen-select"} %>
</div>

<div class="form-group col-md-6 ">
  <%= f.label :product_section_id, 'Product Section' %>
  <%= f.select :product_section_id, ProductSection.all.pluck(:name, :id), {},
               { class: 'feedr-main-select form-control ','data-behavior' => "chosen-select"}%>
</div>

<div class="form-group col-md-6 ">
  <%= f.label :product_department_id, 'Product Department' %>
  <%= f.select :product_department_id, ProductDepartment.all.pluck(:name, :id), {},
               { class: 'feedr-main-select form-control ','data-behavior' => "chosen-select"}%>
</div>

<div class="form-group col-md-6 ">
  <%= f.label :article_number, 'Aricle Number' %>
  <%= f.text_field :article_number, class: 'form-control input feedr-main-input', required: true  %>
</div>

<div class="form-group col-md-2">
  <%= f.label :mrp, 'MRP' %>
  <%= f.number_field :mrp, class: 'form-control input feedr-main-input', min: 0, step: 0.01, :id => "mrp", required: true %>
</div>

<div class="form-group col-md-2">
  <%= f.label :discount, 'Discount %' %>
  <%= f.number_field :discount, class: 'form-control input feedr-main-input', min: 0, step: 0.01, max: 100, required: true %>
</div>

<div class="form-group col-md-2">
  <%= f.label :special_discount, 'Special Discount %' %>
  <%= f.number_field :special_discount, class: 'form-control input feedr-main-input', min: 0, step: 0.01, max: 100 %>
</div>

<div class="form-group col-md-2">
  <%= label_tag :rsp, 'RSP' %>
  <%= number_field_tag :rsp, (f.object.mrp.to_f * (100 - f.object.discount.to_f)/100).round(2) ,class: 'form-control input feedr-main-input', min: 0, step: 0.01, required: true %>
</div>

<div class="form-group col-md-2">
  <%= f.label :min_rsp, 'MIN RSP' %>
  <%= f.number_field :min_rsp, class: 'form-control input feedr-main-input', :id => "min_rsp", required: true %>
</div>

<div class="form-group col-md-2">
  <%= f.label :max_rsp, 'Max RSP' %>
  <%= f.number_field :max_rsp, class: 'form-control input feedr-main-input', :id => "max_rsp", required: true %>
</div>

<div class="form-group col-md-2">
  <%= f.label :status, 'Status' %>
  <%= f.select :status,  Product.statuses.map { |key, value| [key.humanize, key] }, {include_blank: "--Select a Status--"},
               { class: 'feedr-main-select form-control ','data-behavior' => "chosen-select"} %>
</div>

<div class="form-group col-md-2">
  <%= f.label :stock_quantity, 'Stock Quantity' %>
  <%= f.number_field :stock_quantity, class: 'form-control input feedr-main-input', required: true %>
</div>

<div class="form-group col-md-6 ">
  <%= f.label :product_description, 'Product Description' %>
  <%= f.text_area :product_description, class: 'form-control input feedr-main-input', rows: "10"  %>
</div>

<script>
    ChosenApplier.init($('select[data-behavior=chosen-select]'));
    $('#product_mrp').on('keyup', function() {
        $('#rsp').val($('#product_mrp').val() * (100 - $('#product_discount').val())/ 100)
    });
    $('#product_discount').on('keyup', function() {
        $('#rsp').val($('#product_mrp').val() * (100 - $('#product_discount').val())/ 100)
    });
    $('#rsp').on('keyup', function() {
        $('#product_discount').val((100 - ($('#rsp').val() * 100 / $('#product_mrp').val())).toFixed(2))
    });
    $("#rsp").on('change', function() {
        if($("#rsp").val() < $("#min_rsp").val()){
            alert("RSP can't be less  than MIN RSP");
            $("#rsp").val($("#min_rsp").val());
        }
        else if($("#rsp").val() > $("#max_rsp").val()) {
            alert("RSP can't be greater  than MAX RSP");
            $("#rsp").val($("#max_rsp").val());
        }
    });
    $("#max_rsp").on('change', function() {
        if($("#max_rsp").val() > $("#mrp").val()){
            alert("MAX RSP can't be greater  than MRP");
            $("#max_rsp").val($("#mrp").val());
        }
    });

</script>

