<div class="container-div page-body">
  <div>
    <div class="col-xs-12" align="center">
      <h3><u>Products</u></h3>
    </div>
    <div class="col-xs-9 mt20" >
      <%= form_tag import_admin_products_path, multipart: true do %>
        <div class="col-xs-3">
          <%= file_field_tag :file, class: 'form-control feedr-main-input', style: "font-size: 16px;", :required => true %>
        </div>
        <div class="col-xs-2" style="font-size: 16px;">
          <%= submit_tag "Import from Excel", class: 'btn btn-white', style: "font-size: 16px;" %>
        </div>
        <div class="col-xs-1"></div>
      <% end %>
      <div class="col-xs-3 btn btn-white" style="font-size: 16px;">
        <%= link_to "Export as Excel", download_excel_admin_products_path(format: "xlsx") %>
      </div>
    </div>
    <div class="col-xs-12 no-left-pad mt20">
      <%= search_form_for(@q,url: admin_products_path, id: 'products_search_form') do |f| %>
        <div class="col-md-10 product-search-box">
          <div class="col-md-2 mt20  ">
            <%=f.text_field :article_number_eq, class: 'form-control feedr-main-input', placeholder: 'Article Number' %>
          </div>
          <div class="col-md-2 mt20  ">
            <%=f.select :product_division_id_eq, ProductDivision.all.collect{|p| [p.name,p.id]}, {include_blank: 'Division'},class: 'form-control feedr-main-select', 'data-behavior' => "chosen-select" %>
          </div>
          <div class="col-md-2 mt20  ">
            <%=f.select :product_section_id_eq, ProductSection.all.collect{|p| [p.name,p.id]}, {include_blank: 'Section'},class: 'form-control feedr-main-select', 'data-behavior' => "chosen-select" %>
          </div>
          <div class="col-md-2 mt20  ">
            <%=f.select :product_department_id_eq, ProductDepartment.all.collect{|p| [p.name,p.id]}, {include_blank: 'Department'},class: 'form-control feedr-main-select', 'data-behavior' => "chosen-select" %>
          </div>

          <div class="col-md-2 mt20">
            <%=f.submit 'Search', class: 'form-control btn btn-green'%>
          </div>
          <div class="col-md-2 mt20">
            <%= link_to admin_products_path, class: "btn btn-green" do %>
              Reset
            <% end %>
          </div>
        </div>
      <%end%>
      <div class="col-md-1 mr15">
        <h3>
          <%= link_to new_admin_product_path, class: "btn btn-green" do %>
            </span> Add Product
          <% end %>
        </h3>
      </div>
    </div>
  </div>

  <div class="col-xs-12 mt20">
    <table class="table table-bordered table-striped feedr-main-table" >
      <thead>
      <tr>
        <th>Article Number</th>
        <th>Division</th>
        <th>Section</th>
        <th>Department</th>
        <th>Name</th>
        <th>MRP</th>
        <th>Discount</th>
        <th>RSP</th>
        <th>MIN RSP</th>
        <th>MAX RSP</th>
        <th>Stock Quantity</th>
        <th>Status</th>
        <th>Last Updated at</th>
        <th class="sticky-col">Action</th>
      </tr>
      </thead>
      <tbody>
      <% @products.each do |product| %>
        <tr>
          <td><%= product.article_number %></td>
          <td><%= product.product_division.try(:name)%></td>
          <td><%= product.product_section.try(:name)%></td>
          <td><%= product.product_department.try(:name)%></td>
          <td><%= product.name%></td>
          <td><%= product.mrp%></td>
          <td>
            <ul type="disc" style="padding-left: 15px;">
              <li style="display: list-item;"><%= product.discount%></li>
            </ul>
          </td>
          <td>
            <ul type="disc" style="padding-left: 15px;">
              <li style="display: list-item;"><%= (product.mrp * (100 - product.discount)/100).round(2) %></li>
            </ul>
          </td>
          <td><%= product.min_rsp%></td>
          <td><%= product.max_rsp%></td>
          <td><%= product.stock_quantity %></td>
          <td><%= product.status.titleize %></td>
          <td><%= "#{product.updated_by_user.try(:name)} | #{product.updated_at.strftime("%d-%m-%Y %H:%M:%S")}" %></td>
          <td class="sticky-col">
            <%= link_to edit_admin_product_path(product), class: "btn btn-sm btn-blue" do %>
              Edit
            <% end %>
              <div class="col-xs-8 mt10">
                <%= image_tag "https://s3-ap-south-1.amazonaws.com/ems.images/products/#{product.article_number}.jpg?timestamp=#{product.updated_at.to_s}", width: '80px', id: "upload", class: "jmodal"%>
              </div>
            <div class="col-xs-4">
              <div class="col-xs-4">
                <%= form_tag upload_product_image_admin_products_path(article_number: product.article_number), class: 'form-horizontal upload_form', multipart: true do |f| %>
                  <label for="document_<%= product.article_number %>" data-id="<%= product.article_number %>"><%= image_tag 'upload_image.svg', width: '30px', id: "upload", class: "pointer" %></label>
                  <%= file_field_tag "document_#{product.article_number}", class: 'product_image', style:"display: none", data: {id: product.article_number} %>
                <% end %>
              </div>
            </div>
            <% end %>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="page_links ppl">
      <%= will_paginate @products%>
    </div>
  </div>
</div>

<script>
    $('.product_image').on('change', function() {
        $(this).closest('.upload_form').submit();
    });
    $('.jmodal').on('click', function() {
        let url = "<div class=\"modal fade page-body\" id=\"product_image_modal\">\n" +
            "  <div class=\"modal-dialog\">\n" +
            "    <div class=\"modal-content\">\n" +
            "      <div class=\"modal-header\">\n" +
            "        <button type=\"button\" class=\"close\" data-dismiss=\"modal\" aria-hidden=\"true\">×</button>\n" +
            "        <div class=\"col-xs-12 modal-body\">" +
            "      <img src='" + $(this).closest('img').first().attr("src") + "' style=\"width:100%;max-width:800px\">     </div>\n" +
            "  </div>\n" +
            "</div></div></div>";
        $(url).modal();

    });
</script>