<div class="form-group col-md-6">
  <%= f.label :name, 'Name' %>
  <%= f.text_field :name, class: 'form-control input feedr-main-input', required: true %>
</div>

<div class="form-group col-md-6">
  <%= f.label :description, 'Description' %>
  <%= f.text_field :description, class: 'form-control input feedr-main-input', required: true %>
</div>

<div class="form-group col-md-6">
  <%= f.label :offer_type, 'Offer Type' %>
  <%= f.select :offer_type, ['b2b', 'b2c'], {},
               { class: 'feedr-main-select form-control ','data-behavior' => "chosen-select"} %>
</div>

<div class="form-group col-md-6">
  <%= f.label :status, 'Status' %>
  <%= f.select :status, ['active', 'inactive'], {},
               { class: 'feedr-main-select form-control ','data-behavior' => "chosen-select"} %>
</div>

<div class="form-group col-md-12">
  <%= f.label :product_ids, 'Products' %>
  <%= f.select :product_ids, Product.pluck(:name, :id), {},
               { class: 'feedr-main-select form-control ','data-behavior' => "chosen-select", multiple: true, required: true} %>
</div>

<script>
    ChosenApplier.init($('select[data-behavior=chosen-select]'))
</script>