<div class="container-div page-body">
  <div>
    <div class="col-xs-12" align="center">
      <h3><u>Promotional Offer</u></h3>
    </div>
    <div class="col-xs-12 no-left-pad">
      <div class="col-md-2 col-md-offset-2 ">
        <h3>
          <%= link_to new_admin_product_offer_path, class: "btn btn-green" do %>
            </span> Add Offer
          <% end %>
        </h3>
      </div>
    </div>
  </div>

  <div class="col-xs-10 col-xs-offset-1">
    <table class="table table-bordered table-striped feedr-main-tabl" >
      <thead>
      <tr>
        <th class="col-xs-1">Id</th>
        <th class="col-xs-1">Name</th>
        <th class="col-xs-2">Description</th>
        <th class="col-xs-4">Product</th>
        <th class="col-xs-2">Status</th>
        <th class="col-xs-1">Action</th>
      </tr>
      </thead>
      <tbody>
      <% @offers.each do |offer| %>
        <tr>
          <td><%= offer.id%></td>
          <td><%= offer.name%></td>
          <td><%= offer.description%></td>
          <td>
            <ul type="disc">
              <% offer.products.each_with_index do  |item, index|%>
                <li><%= "#{index+1}. #{item.name.titleize}" %></li>
              <% end %>
            </ul>
          </td>
          <td><%= offer.status%></td>
          <td>
            <div>
              <div class="col-xs-12">
                <%= link_to edit_admin_product_offer_path(offer), class: "btn btn-sm btn-blue" do %>
                  Edit
                <% end %>
              </div>
              <div class="col-xs-8 mt10">
                <%= image_tag "https://s3-ap-south-1.amazonaws.com/ems.images/offers/#{offer.id}.jpg?timestamp=#{offer.updated_at.to_s}", width: '80px', id: "upload", class: "jmodal"%>

              </div>
              <div class="col-xs-4">
                <%= form_tag upload_offer_image_admin_product_offers_path(id: offer.id), class: 'form-horizontal upload_form', multipart: true do |f| %>
                  <label for="document_<%= offer.id %>" data-id="<%= offer.id %>"><%= image_tag 'upload_image.svg', width: '30px', id: "upload", class: "pointer" %></label>
                  <%= file_field_tag "document_#{offer.id}", class: 'offer_image', style:"display: none", data: {id: offer.id} %>
                <% end %>
              </div>
            </div>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
    <div class="page_links ppl">
      <%= will_paginate @offers%>
    </div>
  </div>
</div>
<script>
    ChosenApplier.init($('select[data-behavior=chosen-select]'));
    $('#product_offer_submit').on('click', function() {
        $('#product_offers_search_form').submit();
    });

    $('.offer_image').on('change', function() {
        $(this).closest('.upload_form').submit();
    });
    $('.jmodal').on('click', function() {
        let url = "<div class=\"modal fade page-body\" id=\"product_image_modal\">\n" +
            "  <div class=\"modal-dialog\">\n" +
            "    <div class=\"modal-content\">\n" +
            "      <div class=\"modal-header\">\n" +
            "        <button type=\"button\" class=\"close\" data-dismiss=\"modal\" aria-hidden=\"true\">×</button>\n" +
            "        <div class=\"col-xs-12 modal-body\">" +
            "      <img src='" + $(this).closest('img').first().attr("src") + "' style=\"width:100%;max-width:800px\">     </div>\n" +
            "  </div>\n" +
            "</div></div></div>";
        $(url).modal();

    });
</script>