/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *= require bootstrap.min
 *= require chosen
 *= require_self
 *= require admin/admin.scss
 *= require admin/navigation.scss
 *= require admin/multiSelect.scss
 *= require admin/coupons.scss

 *= require font-awesome.min
 *= require datatables.bootstrap.min
 *= require jquery-ui
 *= require bootstrap.editable
 */

/*  require_tree . */

/******* Fonts Begin ********/
@import "font-awesome";

@font-face {
  font-family: 'Gotham-Bold';
  src:    url('//caroobi-fonts.s3.amazonaws.com/fonts/Gotham-Bold/Gotham-Bold.eot');
  src:    url('//caroobi-fonts.s3.amazonaws.com/fonts/Gotham-Bold/Gotham-Bold.eot') format('embedded-opentype'),
  url("//caroobi-fonts.s3.amazonaws.com/fonts/Gotham-Bold/Gotham-Bold.ttf") format('truetype'),
  url('//caroobi-fonts.s3.amazonaws.com/fonts/Gotham-Bold/Gotham-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham-Book';
  src:    url('//caroobi-fonts.s3.amazonaws.com/fonts/Gotham-Light/Gotham-Light.eot');
  src:    url('//caroobi-fonts.s3.amazonaws.com/fonts/Gotham-Light/Gotham-Light.eot') format('embedded-opentype'),
  url('//caroobi-fonts.s3.amazonaws.com/fonts/Gotham-Light/Gotham-Light.ttf') format('truetype'),
  url('//caroobi-fonts.s3.amazonaws.com/fonts/Gotham-Light/Gotham-Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham-Medium';
  src:    url('//caroobi-fonts.s3.amazonaws.com/fonts/Gotham-Medium/Gotham-Medium.eot');
  src:    url('//caroobi-fonts.s3.amazonaws.com/fonts/Gotham-Medium/Gotham-Medium.eot') format('embedded-opentype'),
  url('//caroobi-fonts.s3.amazonaws.com/fonts/Gotham-Medium/Gotham-Medium.ttf') format('truetype'),
  url('//caroobi-fonts.s3.amazonaws.com/fonts/Gotham-Medium/Gotham-Medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/******* Fonts End ********/


@font-face {
  font-family: 'Glyphicons Halflings';
  src:  font_url('glyphicons-halflings-regular.eot');
  src:  font_url('glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
  font_url('glyphicons-halflings-regular.woff') format('woff'),
  font_url('glyphicons-halflings-regular.ttf') format('truetype'),
  font_url('glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

@font-face {
  font-family: "FontAwesome";
  src:  font_url('fontawesome-webfont.eot');
  src:  font_url('fontawesome-webfont.eot?#iefix') format('eot'),
  font_url('fontawesome-webfont.woff') format('woff'),
  font_url('fontawesome-webfont.ttf') format('truetype'),
  font_url('fontawesome-webfont.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}


