<div class="form-group col-md-6">
  <%= f.label :name, 'Name' %>
  <%= f.text_field :name, class: 'form-control input feedr-main-input', required: true %>
</div>

<div class="form-group col-md-6">
  <%= f.label :description, 'Description' %>
  <%= f.text_field :description, class: 'form-control input feedr-main-input', required: true %>
</div>

<div class="form-group col-md-6">
  <%= f.label :status, 'Status' %>
  <%= f.select :status, ['active', 'inactive'], {},
               { class: 'feedr-main-select form-control ','data-behavior' => "chosen-select"} %>
</div>
