<div class="modal fade page-body" id="GenerateCouponsModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <div class="modal-title text-head" align="center">Generate Coupons</div>
      </div>
      <%= form_tag('/admin/coupons/generate_coupons', method: :post) do |f| %>
        <div class="col-xs-12 modal-body">
          <div class="col-xs-6 no-left-pad">
          <%=label_tag :initials%>
          <%=text_field_tag :initials, nil, class: "form-control feedr-main-input", lenght: 3, required: true %>
          </div>
          <div class="col-xs-6 no-left-pad">
            <%=label_tag :customer_id%>
            <%= select_tag :customer_id, options_for_select(Customer.active.pluck(:name, :id)),
                           {:include_blank => "For all Customers", class: 'feedr-main-select form-control ','data-behavior' => "chosen-select"}%>
          </div>
          <div class="col-xs-6 no-right-pad">
            <%=label_tag :"amount/Percentage Value"%>
            <%=number_field_tag :amount, nil, class: "form-control feedr-main-input", min: 1, required: true  %>
          </div>
          <div class="col-xs-6 no-left-pad">
            <%=label_tag :coupon_type%>
            <%= select_tag :coupon_type,  options_for_select(Coupon.coupon_types),
                         { class: 'feedr-main-select form-control ','data-behavior' => "chosen-select", required: true}%>
          </div>
          <div class="col-xs-6 no-right-pad">
            <%=label_tag :description%>
            <%=text_field_tag :description, nil, class: "form-control feedr-main-input", required: true  %>
          </div>
          <div class="col-xs-6 no-left-pad">
            <%=label_tag :minimum_invoice_value, 'Minimum Invoice Value' %>
            <%=number_field_tag :minimum_invoice_value, 0, class: "form-control feedr-main-input", required: true, min: 0  %>
          </div>
          <div class="col-xs-6 no-left-pad">
            <%=label_tag :expiry, 'Expire Periord( In Days)' %>
            <%=number_field_tag :expiry, 1, class: "form-control feedr-main-input", required: true, min: 1  %>
          </div>
        </div>
        <div class="modal-footer mt20">
          <%= submit_tag 'Generate', class: 'btn btn-green' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
<script>
$(function () {
ChosenApplier.init($('select[data-behavior=chosen-select]'))
});
$("#amount").on('change', function() {
    if($("#coupon_type").val()==2 && $("#amount").val()>100){
        alert("Coupon percentage value can't exceed 100");
        $("#amount").val("1");
    }
});
$("#coupon_type").on('change', function() {
    if($("#coupon_type").val()==2 && $("#amount").val()>100){
        alert("Coupon percentage value can't exceed 100");
        $("#amount").val("1");
    }
});
</script>