<div class="col-xs-12 mt20 no-left-pad coupon-search-box">
  <% if @current_user.can_manage_coupons? %>
    <div class="col-md-1 mt20 ">
      <%= link_to "Generate", "#GenerateCouponsModal", :class => "btn btn-green", "data-toggle" => "modal" %>
    </div>
  <% end %>
  <%= search_form_for(@q,url: admin_coupons_path, id: 'coupons_search_form') do |f| %>
    <div class="col-md-2 mt20 no-right-pad ml15">
      <%=f.text_field :code_cont, class: 'form-control feedr-main-input', placeholder: 'Coupon Code'%>
    </div>
    <div class="col-md-2 mt20 no-right-pad">
      <%=f.select :redeemed_coupon_redeemed_by_eq, admin_users_for_select, {include_blank: 'Redeemed By'},class: 'form-control feedr-main-select', 'data-behavior' => "chosen-select" %>
    </div>
    <div class="col-md-2 mt20 no-right-pad">
      <%= select_tag :status, options_for_select([["Redeemeed", "1"], ["Not Redeemed", "0"]], params[:status]),class: 'form-control feedr-main-select', placeholder: 'Invoice', include_blank: '--Status--'%>
    </div>
    <div class="col-md-2 mt20 no-right-pad">
      <%= f.text_field :created_at_eq, :placeholder => 'Created on', class: 'form-control datepicker feedr-main-input' %>
    </div>
    <div class="col-md-2 mt20 no-right-pad">
      <%= f.text_field :redeemed_coupon_created_at_eq, :placeholder => 'Redeemed on', class: 'form-control datepicker feedr-main-input' %>
    </div>
    <div>
      <a id="coupons_submit" class="btn btn-default submit btn-green mt20">
        <i class="fa fa-search" aria-hidden="true"></i>
      </a>
    </div>
  <%end%>
</div>
<div class="col-xs-12 mt20">
  <table class="table table-bordered table-striped feedr-main-tabl" >
    <thead>
    <tr>
      <th class="col-xs-0">Id</th>
      <th class="col-xs-1">Code</th>
      <th class="col-xs-1">Amount</th>
      <th class="col-xs-2">Description</th>
      <th class="col-xs-2">Created At</th>
      <th class="col-xs-2">Created By</th>
      <th class="col-xs-2">Redeemed By</th>
      <th class="col-xs-2">Redeemed At</th>
      <th class="col-xs-1">Min Value</th>
    </tr>
    </thead>
    <tbody>
    <% @coupons.each do |coupon| %>
      <tr>
        <td><%= coupon.id%></td>
        <td><%= coupon.code%></td>
        <td><%= coupon.amount%></td>
        <td><%= coupon.description%></td>
        <td><%= coupon.created_at.strftime("%d-%m-%Y")%></td>
        <td><%= coupon.user.try(:name) %></td>
        <td><%= coupon.redeemed_coupon.try(:user).try(:name) %></td>
        <td><%= coupon.redeemed_coupon.try(:created_at).try(:strftime, "%d-%m-%Y") %></td>
        <td><%= coupon.minimum_invoice_value %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <div class="page_links ppl">
    <%= will_paginate @coupons%>
  </div>
</div>

<script>
    ChosenApplier.init($('select[data-behavior=chosen-select]'));
    $( document ).ready(function() {
        $('.datepicker').datepicker({dateFormat: "yy-mm-dd"});
    });

    $('#coupons_submit').on('click', function() {
        $('#coupons_search_form').submit();
    });
</script>