<div class="container-div page-body ">
  <div class="col-xs-offset-3 col-xs-6" align="center">
    <div class="col-xs-12 text-head" >
      Enter Coupon code to redeem
    </div>
    <div class="col-xs-12 coupon-redeem-box">
      <%= form_tag('/admin/coupons/redeem_coupon', method: :put) do |f| %>
        <%= text_field_tag :code, nil, class: 'form-control input feedr-main-input ', required: true, placeholder: 'Coupon Code' %>
        <%= text_field_tag :order_id, nil, class: 'form-control input feedr-main-input  mt10', required: true, placeholder: 'Order Id' %>
        <%= submit_tag :Submit, class: "mt10 btn-blue submit-btn" %>
      <% end %>
    </div>
  </div>
  <% if @current_user.can_view_coupons? %>
    <div class="col-xs-offset-1 col-xs-10" align="center">
      <%= render 'show_all_coupons' %>
    </div>
  <% end %>


</div>

<%= render 'generate_coupons' %>

<%= stylesheet_link_tag 'admin/coupons' %>
<%= javascript_include_tag 'roles/form' %>