<div class="container-div page-body">
  <div>
    <div class="col-xs-12" align="center">
      <h3><u>Product Departments</u></h3>
    </div>
    <div class="col-xs-12 no-left-pad">
      <div class="col-md-2 col-md-offset-2 ">
        <h3>
          <%= link_to new_admin_product_department_path, class: "btn btn-green" do %>
            </span> Add Department
          <% end %>
        </h3>
      </div>
    </div>
  </div>

  <div class="col-xs-8 col-xs-offset-2">
    <table class="table table-bordered table-striped feedr-main-table" >
      <thead>
      <tr>
        <th class="col-xs-1">Id</th>
        <th class="col-xs-2">Name</th>
        <th class="col-xs-3">Description</th>
        <th class="col-xs-1">Status</th>
        <th class="col-xs-2">Created</th>
        <th class="col-xs-2">Action</th>
      </tr>
      </thead>
      <tbody>
      <% @departments.each do |department| %>
        <tr>
          <td><%= department.id%></td>
          <td><%= department.name%></td>
          <td><%= department.description%></td>
          <td><%= department.status%></td>
          <td><%= "#{department.created_by_user.try(:name)}" %></td>
          <td>
            <%= link_to edit_admin_product_department_path(department), class: "btn btn-sm btn-blue" do %>
              Edit
            <% end %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
    <div class="page_links ppl">
      <%= will_paginate @departments%>
    </div>
  </div>
</div>
