<!DOCTYPE html>
<html>
  <head>
    <title>EaseMySales</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,500,700" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <%= favicon_link_tag 'favicon.png'%>
    <%= csrf_meta_tags %>
  </head>

  <body>

  <% if @current_user %>
    <%= auto_session_timeout_js %>
  <% end %>

  <%= render "admin/navigation" %>
  <div id="main-container" class="container expanded">
    <%= render 'admin/flash_helper' %>
    <%= yield %>
  </div>

  </body>
</html>
